body {
    background-image: url('fundo-comida.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    color: white; /* Esta linha muda a cor do texto para branco */
}

h1 {
    font-size: 3em; /* Deixa o título principal maior */
    text-shadow: 2px 2px 4px #000000; /* Adiciona uma sombra para destacar */
}

h2 {
    font-size: 2em; /* Deixa o subtítulo maior */
    color: #f8f8f8; /* Mudei a cor do subtítulo para um branco mais sutil */
}

.ingredientes label {
    font-size: 1.2em; /* Aumenta o tamanho das letras ao lado dos checkboxes */
    color: #fff; /* Muda a cor das letras para branco */
}

#btn-mostrar {
    font-size: 1.2em; /* Aumenta o tamanho da fonte do botão */
    padding: 10px 20px; /* Aumenta o tamanho do botão */
}
