body {
    background-image: url('fundo-comida.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    color: #333; /* Esta linha muda a cor do texto padrão para um cinza escuro/marrom */
}

h1 {
    font-size: 4em; /* Deixa o título principal (Chef Do Dia) bem maior */
    color: #333;
    text-shadow: 2px 2px 5px #f0f0f0; /* Sombra clara para destacar o texto escuro */
}

h2 {
    font-size: 2.5em; /* Deixa o subtítulo (Selecione seus ingredientes) maior */
    color: #333;
    text-shadow: 1px 1px 3px #f0f0f0; /* Adiciona sombra clara para destaque */
}

.ingredientes label {
    font-size: 1.5em; /* Aumenta o tamanho das letras dos ingredientes */
    color: #333; /* Muda a cor das letras para cinza escuro */
    text-shadow: 1px 1px 2px #f0f0f0; /* Adiciona sombra clara para destacar */
}

#btn-mostrar {
    font-size: 1.5em; /* Aumenta o tamanho da fonte do botão */
    padding: 15px 30px; /* Aumenta o tamanho do botão */
}
